
.banner-holder {
    background: #222;
    overflow: hidden;
    position: relative;
}

.banner-image-holder img {
    width: 100%;
    height: 760px;
    background-size: cover;
    margin-top: 0%;
    bottom: 0;
    filter: brightness(70%);
}

.button-valid{
    border-bottom-width: 1px;
    padding-bottom: 6px;
    border-top-width: 1px;
    background-color: #1B9AF7;
}

.banner-desc {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    height: 520px;
    background: rgba(238, 233, 233, 0.7);
}
.banner-desc2 {
    position: absolute;
    top: 8%;
    padding-top: 3px;
    padding-bottom: 25px;
    left: 0;
    right: 0;
    background: rgba(238, 233, 233, 0.7);
}

.banner-desc h1 {
    color: #FFFFFF;
    font-size: 48px;
}
.banner-desc2 h2 {
    color: #FFFFFF;
    font-size: 30px;
}

.banner-desc a {
    display: inline-block;
}

.fh5co-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*background: rgba(	173 ,216 ,230 ,0.4);*/
}
.regBt{
    margin-top: 44px;
    font-size: small;
}
.regBt:hover{
    cursor: pointer;
}
.loginBt{
    margin-top: 44px;
    font-size: small;
}
.loginBt:hover{
    cursor: pointer;
}
.errorMessage{
    margin-top: 20px;
    color: red;
    font-weight: 500;
    font-size: 20px
}
