.nav-pills li{
    width: 24%;
    text-align: center;
}
.navigation{
    background: #31b0d5;
}
.nav-pills li a{
    color: whitesmoke;
}
.nav-pills a:hover{
    background: #31b0d5;
}
.planBlock{
    background: bisque;
    margin-top: 5px;
    padding-bottom: 20px;
}
.plan_font{
    font-size: 85%;font-weight: bold;
}
.form-label{
    font-size: 18px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    color:#31b0d5;
}
.form-label-sm{
    font-size: 14px;
    padding-top: 7px;
    margin-bottom: 0;
    color:#b1b7ba;
}
.seat-block{
    color: silver;
    margin-bottom: 10px;
    text-align: right;
}